html {
  font-size: 18px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.6;
  @include font('Poppins', 400);
  color: #575859;
  background-color: #E5E5E5;
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}